@font-face {
  font-family: "iconfont"; /* Project id 3838684 */
  src: url('iconfont.woff2?t=1672536665846') format('woff2'),
       url('iconfont.woff?t=1672536665846') format('woff'),
       url('iconfont.ttf?t=1672536665846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e650";
}

.icon-icon1:before {
  content: "\e651";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-sad:before {
  content: "\e66f";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-nav_icon_huizongfenxi:before {
  content: "\e614";
}

.icon-nav_icon_shouqi:before {
  content: "\e615";
}

.icon-nav_icon_shujuchaxun:before {
  content: "\e616";
}

.icon-nav_icon_fabuguanli:before {
  content: "\e617";
}

.icon-nav_icon_zimubiaoshuju:before {
  content: "\e618";
}

.icon-nav_icon_shujushangbao:before {
  content: "\e619";
}

.icon-nav_icon_shujushenhe:before {
  content: "\e61a";
}

.icon-nav_icon_zhiduguanli:before {
  content: "\e61b";
}

.icon-nav_icon_zaixianwendang:before {
  content: "\e61c";
}

.icon-nav_icon_jinduguanli:before {
  content: "\e61d";
}

.icon-nav_icon_renwuguanli:before {
  content: "\e61e";
}

.icon-nav_icon_mingluguanli:before {
  content: "\e61f";
}

.icon-nav_icon_xiaoxitongzhi:before {
  content: "\e620";
}

.icon-nav_icon_cuibaoguanli:before {
  content: "\e621";
}

.icon-nav_icon_shouye:before {
  content: "\e622";
}

.icon-nav_icon_shujudaochu:before {
  content: "\e623";
}

.icon-nav_icon_zhankai:before {
  content: "\e624";
}

.icon-nav_icon_xitongshezhi:before {
  content: "\e625";
}

.icon-nav_icon_chengxushezhi:before {
  content: "\e626";
}

